In [44]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder, OneHotEncoder
import pickle
import datetime
import tensorboard

In [45]:
data = pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [46]:
data = data.drop(["RowNumber","CustomerId","Surname"], axis=1)

In [47]:
label_encoder_gender = LabelEncoder()

data["Gender"] = label_encoder_gender.fit_transform(data["Gender"])

In [48]:
Onehot_encode_geo = OneHotEncoder(handle_unknown="ignore")

geo_encoded = Onehot_encode_geo.fit_transform(data[["Geography"]]).toarray()

geo_encoded_df = pd.DataFrame(geo_encoded, columns= Onehot_encode_geo.get_feature_names_out(["Geography"]))

geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [49]:
data = pd.concat([data.drop("Geography",axis=1),geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [50]:
X = data.drop("EstimatedSalary", axis=1)
y = data["EstimatedSalary"]

In [51]:
X_train, X_test, y_train, y_test = train_test_split(X,y, train_size=0.2,random_state=42)

In [52]:
scaler = StandardScaler()

scaler.fit_transform(X_train)
scaler.transform(X_test)

array([[-0.59170945,  0.89091075, -0.64371665, ..., -0.99600797,
         1.74133801, -0.58350885],
       [-0.31104689,  0.89091075,  0.40826421, ...,  1.00400803,
        -0.57427105, -0.58350885],
       [-0.5397349 , -1.12244688,  0.50389883, ..., -0.99600797,
        -0.57427105,  1.71377008],
       ...,
       [ 0.63488991,  0.89091075, -0.54808203, ..., -0.99600797,
        -0.57427105,  1.71377008],
       [ 0.47896626,  0.89091075, -0.35681278, ...,  1.00400803,
        -0.57427105, -0.58350885],
       [-1.39211751,  0.89091075, -0.45244741, ...,  1.00400803,
        -0.57427105, -0.58350885]])

In [53]:
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)
    
with open('one_hot_encoder.pkl','wb') as file:
    pickle.dump(Onehot_encode_geo, file)
    
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler, file)

In [54]:
## ANN WIth regression problem statement 
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [55]:
model = Sequential([
    Dense(64, activation= "relu", input_shape=(X_train.shape[1],)),
    Dense(32, activation= "relu"),
    Dense(1)
    
    
]
)

model.compile(optimizer ='adam',loss = 'mean_absolute_error',metrics=['mae'])

model.summary()

e:\Learning\Computer vision\data\ANN_classification_Churn\venv\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_2"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_6 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_7 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_8 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [56]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

log_dir = "regressionlogs/fit" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")

tensorboard_callback = TensorBoard(log_dir = log_dir, histogram_freq =1)

In [57]:
EarlyStopping_callback = EarlyStopping(monitor='val_loss',patience=5,restore_best_weights=True)

In [58]:
history = model.fit(
    X_train, y_train, 
    validation_data = (X_test,y_test),
    epochs= 100,
    callbacks = [EarlyStopping_callback, tensorboard_callback]
)

Epoch 1/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 2s 13ms/step - loss: 94594.9609 - mae: 94594.9609 - val_loss: 70111.0547 - val_mae: 70111.0547
Epoch 2/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - loss: 69547.7188 - mae: 69547.7188 - val_loss: 68967.9688 - val_mae: 68967.9688
Epoch 3/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - loss: 69915.7109 - mae: 69915.7109 - val_loss: 68685.6328 - val_mae: 68685.6328
Epoch 4/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - loss: 70147.3359 - mae: 70147.3359 - val_loss: 68356.4609 - val_mae: 68356.4609
Epoch 5/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - loss: 68532.6406 - mae: 68532.6406 - val_loss: 67815.5234 - val_mae: 67815.5234
Epoch 6/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step - loss: 69321.3906 - mae: 69321.3906 - val_loss: 66956.9531 - val_mae: 66956.9531
Epoch 7/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step - loss: 66175.1797 - mae: 66175.1797 - val_loss: 66072.4844 - val_mae: 66072.4844
Epoch 8/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step - loss: 66602.9531 - mae: 66602.9531 - val_loss: 64763.8516 - val_mae: 64763.8516
Epoch 9/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - loss: 65704.8828 - mae: 65704.8828 - val_loss: 63415.6680 - val_mae: 63415.6680
Epoch 10/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 8ms/step - loss: 64270.0469 - mae: 64270.0469 - val_loss: 61937.3125 - val_mae: 61937.3125
Epoch 11/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - loss: 62970.4922 - mae: 62970.4922 - val_loss: 60156.5312 - val_mae: 60156.5312
Epoch 12/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - loss: 60425.3984 - mae: 60425.3984 - val_loss: 58169.3203 - val_mae: 58169.3203
Epoch 13/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - loss: 57574.8672 - mae: 57574.8672 - val_loss: 56209.5742 - val_mae: 56209.5742
Epoch 14/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step - loss: 54961.0547 - mae: 54961.0547 - val_loss: 54766.2734 - val_mae: 54766.2734
Epoch 15/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step - loss: 55182.6992 - mae: 55182.6992 - val_loss: 53124.3086 - val_mae: 53124.3086
Epoch 16/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step - loss: 52962.5703 - mae: 52962.5703 - val_loss: 52195.7070 - val_mae: 52195.7070
Epoch 17/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - loss: 53314.3555 - mae: 53314.3555 - val_loss: 52084.9102 - val_mae: 52084.9102
Epoch 18/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - loss: 52527.0117 - mae: 52527.0117 - val_loss: 51220.3672 - val_mae: 51220.3672
Epoch 19/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step - loss: 53235.8789 - mae: 53235.8789 - val_loss: 51367.2773 - val_mae: 51367.2773
Epoch 20/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - loss: 52079.2109 - mae: 52079.2109 - val_loss: 51337.5938 - val_mae: 51337.5938
Epoch 21/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step - loss: 49274.6289 - mae: 49274.6289 - val_loss: 50742.3398 - val_mae: 50742.3398
Epoch 22/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step - loss: 49856.2695 - mae: 49856.2695 - val_loss: 52093.7812 - val_mae: 52093.7812
Epoch 23/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - loss: 50254.6992 - mae: 50254.6992 - val_loss: 50806.3438 - val_mae: 50806.3438
Epoch 24/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step - loss: 51283.7109 - mae: 51283.7109 - val_loss: 50807.3359 - val_mae: 50807.3359
Epoch 25/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - loss: 51079.5312 - mae: 51079.5312 - val_loss: 51616.0195 - val_mae: 51616.0195
Epoch 26/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step - loss: 50727.4883 - mae: 50727.4883 - val_loss: 50687.2852 - val_mae: 50687.2852
Epoch 27/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step - loss: 51032.1680 - mae: 51032.1680 - val_loss: 50850.9141 - val_mae: 50850.9141
Epoch 28/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step - loss: 51029.8008 - mae: 51029.8008 - val_loss: 50810.2930 - val_mae: 50810.2930
Epoch 29/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step - loss: 50248.6992 - mae: 50248.6992 - val_loss: 50864.8828 - val_mae: 50864.8828
Epoch 30/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step - loss: 52083.7461 - mae: 52083.7461 - val_loss: 51210.8516 - val_mae: 51210.8516
Epoch 31/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step - loss: 49895.8477 - mae: 49895.8477 - val_loss: 50703.3320 - val_mae: 50703.3320

In [59]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [64]:


%tensorboard --logdir regressionlogs/fit20250629-162132/

ERROR: Failed to launch TensorBoard (exited with 1).

In [65]:
#evaluate model

test_loss , test_mae = model.evaluate(X_test,y_test)
print(f"test MAE {test_mae}")

250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50470.0938 - mae: 50470.0938
test MAE 50687.28515625

In [66]:
model.save("Regression_model.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.